@import url('/stylesheets/screen.css');

body {
  font-size: 24px;
}
h2, h3, h4, h5, h6 {
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 75px;
  padding-top: 0.5em;
}

.presentation ul,
.presentation dl {
  margin: 0 2.0em;
}

.presentation dt {
  font-size: 1.0em;
  margin: 0.0em 0; 
}

.presentation ul li {
  padding: 0;
  margin: 0;
}

.center {
  text-align: center;
}
  
.presentation .slide {
  background-color: #fff;
}

.presentation .first {
  background-color: #fff;
}

.presentation h1 {
}

.presentation pre {
  margin: 0;
  padding: 0.5em;
  font-family: "Monaco", "Courier New", fixed;
}
.presentation pre.left {
  width: 45%;
  float: left;
}
.presentation pre.right {
  width: 45%;
  float: right;
}

.slide .notes {
  display: none;
}

.outline {
  width: 600px;
}

.outline .slide {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  padding: 2em 0;
}

.outline h1,
.outline h2,
.outline h3,
.outline h4,
.outline h5 {
  font-size: 1.0em;
  text-align: left;
}

.outline .center {
  text-align: left;
}

.outline .notes {
  display: block;
}
