<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <title>A440 Interactive Team - {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/screen.css"/>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/application.js"></script>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <div class="rainbowify">*</div>
        <h1><a href="/index.html">440</a> 
        </h1>
      </div>
      <div id="subheader">
        <h2>Interactive Team</h2>
        <h3>At Portland State University Winter 2010, with <span>T.J. VanSlyke</span>.</h3>
        <ul id="nav">
          <li><a href="/index.html">Announcements</a></li>
          <li><a href="/calendar.html">Calendar</a></li>
          <li><a href="/lectures.html">Lectures</a></li>
          <li><a href="/syllabus.html">Syllabus</a></li>
          <li><a href="/resources.html">Resources</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      <div id="body">
        <h4>{{ page.title }}</h4>
        {{ content }}
        <div style="clear:both;"></div>
      </div>
    </div>
  </body>

</html>
